<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crear una nueva nota</title>
  </head>
  <body>
    <h1>Add Note</h1>
    <form method="POST">
      <label for="title">Titulo</label>
      <input
        type="text"
        name="title"
        id="title"
        value="{{ note.title if note else '' }}"
      />
      <br />
      <label for="content">Content</label>
      <input
        type="text"
        name="content"
        id="content"
        value="{{ note.content if note else '' }}"
      />

      <input type="submit" value="Add Note" />
    </form>
  </body>
</html>
